footer.footer {
  width: 100%;
  padding: 10 px 0;
  color: white;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  background-color: #434658;
  background-image: linear-gradient(180deg, #434658 10%, #434658 100%);
}
