.container-fluid {
  width: 100%;
  display: inline-flexbox;
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
}

.mat-icon{
  margin-right: 5px;
  font-size: large;
  vertical-align: middle;
}

